//- layout.pug
doctype html
html(lang="en")
  include ../includes/_head.pug

  body
    include ../includes/_header.pug

    block content

    include ../includes/_footer.pug

    script(src='main.js')